

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* header */

.banner h2 {
    
    color: #008369;
    padding-left: 10em;
}

.banner {
    background: linear-gradient(to bottom , #ffffff, #cdcdcd);
    padding: 1px;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #008369;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-left: 10em;    
    gap: 2em;
    margin-left: 12em;
}



.nav ul li:nth-child(1) {
    border-left: 0;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #00bfff;
}


/* section */
.content {
    margin: 2em 5em 3em 10em;
    display: flex;
}

.content__left {
    display: flex;
    width: 770px;
    margin-right: 1em;
    flex-direction: column;
}


/* top */
.content__left__top {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
    max-width: 331px;
}

/* img */
.content__left__top__img {
    margin-right: 1em;
}

.content__left__top__img img {
    width: 529px;
    height: 331px;
}

.content__left__top__img h2 {

    margin-top: 3px;
    max-width: fit-content;
}

.content__left__top a {
    color: black;
    text-decoration: none;
}

.content__left__top a:hover {
    color: #008369;
    text-decoration: underline;
}

/* other news */

.content__left__top__othernews {
    display: flex;
    flex-direction: column;
}

.content__left__top__othernews img {
    width: 220px;
    height: 140px;
}

.content__left__top__othernews h4 {
    max-width: fit-content;
    padding-bottom: 2em;
    border-bottom: 0.5px solid #cdcdcd;
}

.add {
    display: flex;
    flex-direction: row;
}

.add__img img {
    width: 77px;
    height: 50px;
}

.add__text {
    padding-top: 0;
    margin-top: 0;
}

.add__text h6 {
    text-align: left;
    margin-top: 0;
    padding-top: 0;
    margin-left: 3px;
}

/* right */
.content__right {
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
   
    width: 315px;
    max-width: 315px;
    
}

.content__right__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F7F7;
    height: 118px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.5em;
}


.search__icon {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.search__form {
    width: 100%;
    padding: 0 20px;
}

.search__icon a{
    color: #008369;
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;
}

.search__icon a:hover {
    color: #00bfff;
}


.search__form input {
    width: 250px;
    height: 40px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}

/* other */

.content__right__other__text {
    display: flex;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid #cdcdcd; 
}

.content__right__other__text:nth-of-type(3) {
    border: 0;
}

.content__right__other__text img {
    width: 113px;
    height: 70px;
}

.content__right__other__text a {
    color: black;
    text-decoration: none;
    margin: 0; 
    padding: 0;
    margin-right: 1em; 
}

.content__right__other__text p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.content__right__other__text a:hover {
    color: #008369;
    text-decoration: underline;
}

/* content__remarkable */
.content__remarkable {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #F5F7FD;
    border-radius: 5px;
}


.content__remarkable a {
    text-decoration: none;
    color: black;
}

.content__remarkable__top a {
    font-size: 16px;
    font-weight: 600;
}

.content__remarkable__top h2 {
    padding: 0;
    margin: 0;
}


.content__remarkable__bot a {
    border-top: 1px solid #cdcdcd;
    padding-top: 1em;
}

.content__remarkable__contain {
    margin: 0 1.5em 1.5em 1.5em;
}

.content__remarkable .content__remarkable__top img {
    width: 272px;
    height: 172px;
}

.content__remarkable__bot {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.content__remarkable__contain a:hover {
    color: #008369;
    text-decoration: underline;
}

/* content__stock */
.content__stock {
    margin-top: 1em;
}

.content__stock h3 {
    color: #83B55A;
    border-bottom: 2px solid #83B55A;
}

.stock {
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    background-color: #FAFAFA;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 4px;
    margin-bottom: 4px;
    
}
th, td {
    padding-right: 20px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.positive {
    color: #83B55A;
}

.name__stock {
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}



/* content__list */
.content__listcontent {
    margin-top: 1em;
}

.content__list {
    display: flex;
    gap: 1em;
}

.content__list ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    padding-top: 10px;
    gap: 1em;
}

.contetn__list li {
    margin: 0 10px;
    padding-left: 10px;
    border-left: 0.5px solid #cdcdcd;
}

.content__list h2 {
    color: #000000;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(170, 0, 0);
}

.content__list a {
    text-decoration: none;
    margin-top: 1em;
    color: #888888;
}

.content__framecontent{
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 2em;
}

.content__framecontent img {
    width: 250px;
    height: 160px;
}

.content__framecontent a {
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    color: black;
    font-weight: 700;
}

.content__framecontent a:hover {
    color: #008369;
    text-decoration: underline;
}


.content__framecontent .frame {
    max-width: 250px;
    max-height: 175px;
}

.content__framecontent .frame:nth-child(2) {
    border-right: 1px solid #d0d0d0;
}

.content__addlist {
    max-width: 770px;
    max-height: 100px;
}

.addlist {
    width: 200px;
}

.content__addlist ul {
    display: flex;
    gap: 4em;
    justify-content: space-between;
    padding-left: 1em;
}

.content__addlist a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}


.custom-hr {
    border: none;
    height: 1px;
    background-color: #cdcdcd; 
    margin: 0;
    margin-top: 1em;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.footer__top {
    background-color: #008369;
    width: 100%;
    height: 30px;
}

.footer_bottom {
    background: linear-gradient(to top , #ffffff, #cdcdcd);
    width: 100%;
    height: 60px;
}